<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Address Book For Dinosur</title>
</head>

<body>
  <section id="header" class="jumbotron">
    <div class="content">
      <h1 class="display-1" style="color:red;text-align:center;">Address Book For Dinosur</h1>
      <a href="/bookhome" class="btn text-right btn-primary  m-0 ">Home<a>
          <a href="/logout" class="btn btn-primary m-0 ">Logout<a>
    </div>
  </section>