<link rel="stylesheet" href="/style.css">
<div class="items">
  <h1>Wlcome to Address Book for Dinosur</h1>
  <h2>Please login to see the Dinosurs</h2>
  <ul>
    <h3>Already Registerd. <br>Click here to <br></h3><a class="item" style="color:blue;" href="/login">
      Login
    </a>
  </ul>
  <ul>
    <h3>New User Plese Login</h3> <a class="item" style="color:blue;" href="/register">
      Sign UP
    </a>
  </ul>
</div>