<link rel="stylesheet" href="/style.css">
<h1>Login Form </h1>

<form class="items" action="/login" method="POST">
  <label for="fname">Username:</label><br>
  <input type="text" id="uname" name="username"><br>
  <label for="pass">Password:</label><br>
  <input type="password" id="pass" name="password"><br><br>
  <input type="submit" value="Login">
  <br>
  <i>Please login with your valid credentials only</i>


  <button class="home"><a href="/">Home</a></button>

</form>