
<h1>Sign up form</h1>


<link rel="stylesheet" href="/style.css">
<form class="items" action="/register" method="POST">
    <label for="fname">Username:</label><br>
    <input type="text" id="uname" name="username" ><br>
    <label for="pass">Password:</label><br>
    <input type="password" id="pass" name="password" ><br><br>
    <input type="submit" value="Register">
    <a class="home" href="/">Home</a>
  </form> 